.Wrap{
	width: 100%;
	display: flex;
	box-shadow: 0 0px 10px;

}

.NavWrap{
	width: 80%;
	display: flex;
	list-style: none;
	height: 59px;
	align-items: center;

}

.NavIcon{
	visibility: hidden;
}

.NavLink{
	display: inline-block;
	margin-right: 5%;
	margin-left: 4%;
	width: 200px;
	max-width: 200px;
	padding-left: 10px;
	cursor: pointer;
}

.NavLink:hover{
	font-size: 20px;
	color: pink;
	text-decoration: underline;

}

.NavLink:active{	
	font-size: 15px;
}

.NavSearch{
	width: 10px;
	height: 10px;
	margin-left: 180px;
	margin-right: 1%;
	margin-top: 10px;
	background-image: url('Search.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	font-size: 0px;
	padding: 12px 12px 12px 12px;
	border: none;
	transition-duration: 0.5s;
}

.NavSearch:hover{
	background-image: url('Search.png');
	background-repeat: no-repeat;
	background-position: 135px 3px;
	background-size: 20px 20px;
	margin-left: 50px;
	margin-right: 1%;
	margin-top: 15px;
	width: 150px;
	border: 1px solid;
	box-shadow: 10px;
	background-color: #FDEDEC;
	padding: 8px 8px;
	font-size: 8px;
}
.NavSearch:focus{
	background-image: url('Search.png');
	background-repeat: no-repeat;
	background-position: 135px 3px;
	background-size: 20px 20px;
	margin-left: 50px;
	margin-right: 1%;
	margin-top: 15px;
	width: 150px;
	border: 1px solid;
	box-shadow: 10px;
	background-color: #FDEDEC;
	padding: 8px 8px;
	font-size: 8px;
	outline: none;
}

@media (max-width: 830px){

	.NavWrap{
		display: grid;
		visibility: hidden;
	}

	.NavIcon{
		visibility: visible;
		width: 30px;
		height: 30px;
		margin-left: 10px;
		margin-top: 10px;
		background-image: url('NavIcon.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px 20px;
	}
	.NavWrap:hover{
		animation: 0.5s fadeIn;
  		animation-fill-mode: forwards;
		height:250px;
		transition: all 1s;
	}
	

	@keyframes fadeIn {
		  99% {
		    visibility: hidden;
		  }
		  100% {
		    visibility: visible;
		  }
}
	.NavSearch:hover{
		background-position: 130px 3px;
	}
	.NavSearch:focus{
		background-position: 130px 3px;

	}	
}

@media (max-width: 730px){

	.NavSearch:hover{
		background-position: 112px 3px;

	}
	.NavSearch:focus{
		background-position: 112px 3px;

	}
	
}

@media (max-width: 500px){

	.NavSearch:hover{
		background-position: 95px 4px;

	}
	.NavSearch:focus{
		background-position: 95px 4px;

	}
	
}

